name: build

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: true
      - run: |
          go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
          xcaddy version
      - run: GOOS=darwin GOARCH=arm64 xcaddy build \
          --with github.com/lumeland/caddy-lume \
          --output bin/caddy-lume-darwin-arm64
